<p id="notice"><%= notice %></p>

<h1>Today's Reservations</h1>

<%= @todayreservations[0].day %>





<table>
  <thead>
    <tr>
      <th>Timeslot</th>
      <th colspan="3"></th>
    </tr>
  </thead>



  <% @timeslots.each do |t| %>

      <%= puts t.id  %>
      <%= puts t.start  %>

  <% end %>

<% @todayreservations.each do |t| %>

      <%= puts t.timeslot_id  %>

  <% end %>



  <tbody>

    <% ts = 0  %>


    <% @timeslots.each do |t| %>

    <tr>

      <% todayreservation = @todayreservations[1]  %>

      <% if t.id == todayreservation.timeslot_id  %>

        <td> <%= t.start %> </td>   
        <td> <%= todayreservation.member.email %> 


        <% ts =+ 3 %>
        <%= puts "TS = "+ ts.to_s %>


      <% else %>
        <td> <%= t.start %> </td>   
        <td> <p> BLANK</p></td>

      <% end %>

    </td>



      </tr>
    <% end %>
  </tbody>
</table>






<br>

<%= link_to 'New Reservation', new_reservation_path %>
