<p id="notice"><%= notice %></p>

<h1>Days</h1>

<table class="table-striped"  >
  <thead>
    <tr>
      <th>Day</th>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>

<% firstday = Date.new(2018,12,28) %>

  <tbody>
    <% @days.each do |day| %>
      <tr>



        <% if day.name < firstday %>
          <td><%= day.name.strftime("%A") %></td>
          <td><%= day.name %></td>
            <td> Closed </td>
          
        <% else %>
          <td><%= link_to day.name.strftime("%A"), day %></td>
          <td><%= link_to day.name, day %></td>
          <td><%= link_to "Open", day %></td>
        <% end %>


        <% if day.name.sunday? %>
          <tr>
            <td> Monday </td>
            <td>------</td>
            <td> Closed </td>
          </tr>
          



        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
