<p id="notice"><%= notice %></p>

<% thisday = @reservations[0].day.name %>


<h1>Reservations <%= thisday.strftime("%d-%m") %></h1>


<div style="float: left">

<table class="table-striped">

  <thead>
    <tr> 
      <td colspan="4"> BAY #1</td>
    </tr>
    <tr>
      <th>Cancel</th>
      <th>Timeslot</th>
      <th>Member</th>
      <th>Activity</th>
    </tr>
  </thead>
  
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
      	<% if reservation.member == current_member  %>

          <td> <%= link_to cancel_reservation_path(reservation) do %>
                <i class="glyphicon glyphicon-trash "></i>    
            <% end %>   

	      <% else %>
	      	<td></td>
	      <% end %>

        <td><%= reservation.timeslot.start.strftime("%H:%M") %></td>

        <% if reservation.member.membership.name == 'Operator' %>

          <td> <%= link_to 'Lesson', book_lesson_reservation_path(reservation), data: { confirm: "Are you sure?" } ,class: "btn btn-danger"%>

            <i>  |  </i>   

           <%= link_to 'Practice', book_practice_reservation_path(reservation),  data: { confirm: "Are you sure?" },class: "btn btn-warning" %>

					</td>
				<% else %>
	        <td><%= reservation.member.email %></td>
	       <% end %>

        <% if reservation.activity.name != 'Open'  %>
          <td><%= reservation.activity.name %></td>
        <% else %>
          <td></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>


   <div style="float: left">

<table class="table-striped">

  <thead>
    <tr> 
      <td colspan="4"> BAY #1</td>
    </tr>
    <tr>
      <th>Cancel</th>
      <th>Timeslot</th>
      <th>Member</th>
      <th>Activity</th>
    </tr>
  </thead>
  
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.member == current_member  %>

          <td> <%= link_to cancel_reservation_path(reservation) do %>
                <i class="glyphicon glyphicon-trash "></i>    
            <% end %>   

        <% else %>
          <td></td>
        <% end %>

        <td ><%= reservation.timeslot.start.strftime("%H:%M") %></td>

        <% if reservation.member.membership.name == 'Operator' %>

          <td> <%= link_to 'Lesson', book_lesson_reservation_path(reservation),class: "btn btn-danger"%>

            <i>  |  </i>   

           <%= link_to 'Practice', book_practice_reservation_path(reservation),class: "btn btn-warning" %>

          </td>
        <% else %>
          <td><%= reservation.member.email %></td>
         <% end %>

        <% if reservation.activity.name != 'Open'  %>
          <td><%= reservation.activity.name %></td>
        <% else %>
          <td></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

</div>