<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "MarshesGolf", root_path, class:"navbar-brand" %>

    </div>  

    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_member.present? %>


        <% if current_member.membership.name == 'Admin' %>

          <li>
          <%= link_to age_groups_path do %>
              <i class="glyphicon glyphicon-plus "></i>Age Group
          <% end %>
          <%= link_to memberships_path do %>
              <i class="glyphicon glyphicon-plus "></i>Memberships
          <% end %>
          <%= link_to timeslots_path do %>
              <i class="glyphicon glyphicon-plus "></i>Timeslots
          <% end %>
          <%= link_to activities_path do %>
              <i class="glyphicon glyphicon-plus "></i>Activities
          <% end %>

          </li>

        <% end %>  


        <% if current_member.membership.name == 'Admin' or current_member.membership.name == 'Operator' %>
        <li>
          <%= link_to reservations_path do %>
              <i class="glyphicon glyphicon-plus "></i>Reservations
          <% end %>
        </li>          
        <% end %>



          <li>
          <% if current_member.membership.name == 'Admin' %>
            <%= link_to edit_member_registration_path(current_member) do %>
                <i class="glyphicon glyphicon-cog "></i>Profile
            <% end %>
          <% end %>

          <%= link_to days_path do %>
              <i class="glyphicon glyphicon-calendar "></i>Calendar
          <% end %>
          </li>

          <li>
          <%= link_to destroy_member_session_path, method: :delete do %>
              <i class="glyphicon glyphicon-log-out "></i> Log Out
          <% end %>
          </li>



        <% else %>

          <li>
          <%= link_to new_member_session_path do %>
              <i class="glyphicon glyphicon-log-in "></i> Log In
          <% end %>
          </li>
        <%end %>
      </ul>
    </div>

    <div>

      <% if member_signed_in?  %>
        <p><%= current_member.firstname %> <%= current_member.lastname %></p>
        <p><%= current_member.membership.name %></p>
      <% end %>
    </div>

  </div>

</nav>

